<h2>Bases de datos</h2>

<p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fuente</th>
        </thead>
        <tbody>
            
              <tr>
                <td>Hábitat</td>
                <td><a href="https://www.dropbox.com/sh/f76hd3ochp90fkj/AAAAZbrnbX8Qkne6OyKvmpBTa" target="_blank">SEDATU</a></td>
            </tr>
            
            
            <tr>
                <td>Catálogo de escuelas</td>
                <td><a href="http://www.rname.sep.gob.mx/rne/faces/oracle/webcenter/portalapp/pages/sep/rne/inicio/inicio.jspx;rnesid=Jmn6TYYLhdRCrB7SzGgFRGng6dGPblPbhvMWZvFlQ7H868MrGV2j!-1053963258?_afrWindowId=null&_afrLoop=448175863133000&_afrWindowMode=0&_adf.ctrl-state=19q4pu7urj_87#%2Foracle%2Fwebcenter%2Fportalapp%2Fpages%2Fsep%2Frne%2Fdescargas%2Fdescargas.jspx%40%3F_adf.ctrl-state%3D1d2k6y6a2l_4" target="_blank">SEP</a></td>
            </tr>
            
            <tr>
                <td>Cuenta pública</td>
                <td><a href="http://www.transparenciapresupuestaria.gob.mx/ptp/contenidos/?id=58" target="_blank">SHCP</a></td>
            </tr>
            
            <tr>
                <td>Gasto federalizado</td>
                <td><a href="http://www.transparenciapresupuestaria.gob.mx/ptp/contenidos/?id=70" target="_blank">SHCP</a></td>
            </tr>
            
            <tr>
                <td>Ramo 23</td>
                <td><a href="http://www.hacienda.gob.mx/maps/mapas/csv/RAMO_23_general.csv" target="_blank">SHCP</a></td>
            </tr>
            
            <tr>
                <td>Información climatológica</td>
                <td><a href="https://www.dropbox.com/sh/8adbdl9123r9yi4/AACnOiusew4MpzBbaNcFDzULa" target="_blank">CONAGUA</a>
            </tr>
                        
            <tr>
                <td>Información censal a nivel ageb</td>
                <td rowspan="5" class="vert-align"><a href="https://www.dropbox.com/sh/bs1etvb9hrp9mbt/AACm7OhzyqZfP4IvMFTvi1qZa" target="_blank">INEGI</a></td>
            </tr> 
            
            <tr>
                <td>Información censal a nivel manzana</td>
            </tr>
            
            <tr>
                <td>Información sobre vialidades</td>
            </tr> 
            
            <tr>
                <td>Información topográfica</td>
            </tr>
            
            <tr>
                <td>Servicios Urbanos</td>
            </tr>
            
            
            
             <tr>
                <td>Colonias</td>
                <td rowspan="10" class="vert-align"><a href="https://www.dropbox.com/sh/oirgysjvjfz33fo/AABiuHu3-ohe8nPm-jZFqQn4a" target="_blank">Municipio Zapopan</a></td>
            </tr>
            
             <tr>
                <td>Festividades</td>
            </tr>
            
            <tr>
                <td>Tianguis</td>
            </tr>
            
            <tr>
                <td>Incidencia delictiva</td>
            </tr>
            
            <tr>
                <td>Línea Zapopan</td>
            </tr>
            
            <tr>
                <td>Eventos masivos</td>
            </tr>
            
            <tr>
                <td>Centros recreativos</td>
            </tr>
            
            <tr>
                <td>Bibliotecas</td>
            </tr>
            
              <tr>
                <td>Centros de salud</td>
            </tr>
            
            <tr>
                <td>Templos</td>
            </tr> 
            
                        <tr>
                <td>Uso de antenas de telefonía celular (llamadas)</td>
                <td><a href="http://www.movistar.com.mx/dataton/
" target="_blank">Telefónica Movistar</a></td>
            </tr>
            
            <tr>
                <td>Tweets referenciados geográficamente en Zapopan</td>
                <td><a href="https://www.dropbox.com/sh/skv5nl9t5mdxr4n/AADqqEU5bx2gTZdMldjdvLfVa" target="_blank">Twitter</a></td>
            </tr>
            
              <tr>
                <td>Check-ins georeferenciados</td>
                <td><a href="https://www.dropbox.com/sh/skv5nl9t5mdxr4n/AADqqEU5bx2gTZdMldjdvLfVa" target="_blank">Foursquare</a></td>
            </tr>
            

            
        </tbody>
    
</table>
</p>
