<h1>Datatón para el desarrollo</h1>
<p>Bienvenidos al Datatón para el desarrollo. El primer espacio en el cual la ciudadanía utilizará datos abiertos del sector público y privado para ayudar al gobierno a tomar decisiones que mejoren la calidad de vida de los ciudadanos.</p>

<p>El objetivo de este experimento es explotar la creatividad de los participantes y encontrar información y soluciones innovadoras que proporcionen al gobierno la información que necesita para generar mejores políticas públicas.</p>

<p>En este ejercicio se juntarán bases proporcionadas por el gobierno del municipio de Zapopan, el Gobierno Federal, además de bases de datos de la iniciativa privada, donadas por Telefónica Movistar.</p>

<p>Los equipos generarán un proyecto que atienda una problemática pública en Zapopan y produzca información de utilidad para los tomadores de decisión.  Un jurado evaluará los proyectos basándose en la originalidad, aplicabilidad y potencial de impacto del producto, y elegirá al ganador.</p> 

<p>Inscribe a tu equipo, participa y genera la propuestas para mejorar la calidad de vida en nuestro país. 
</p>
