

<div class="forma">

<form class=forma role="form" id="signup">
    <h2>Registro</h2>
<p>Para poder participar los equipos deberán registrarse antes del 25 de junio a las 23:59 horas.</p>
  
    <div class="botonforma">
   <a href="https://docs.google.com/forms/d/1hxKzjR0obCPbg8d_J2mb4RhdMQ-UTlx5ZpN_dR7PuUo/viewform?usp=send_form" target="_blank"> <button type="button" class="btn btn-primary botonlink">REGÍSTRATE AQUÍ</button></a>
  </div>

    <p>Si tienes preguntas escríbenos a <a href="mailto:dataton@datos.gob.mx">dataton@datos.gob.mx</a>.</p>

</div>


