<h2>Líneas de investigación</h2>
<p>Con la finalidad de guiar el análisis, se propone una serie de preguntas de investigación, sin embargo los equipos podrán explorar cualquier línea de investigación de su elección. Las preguntas sugeridas son las siguientes:</p>


<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-01.png" alt="Inscríbete aquí" height="180" width="180" /><p>Predicción y análisis espacial de crimen.</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-02.png" alt="Inscríbete aquí" height="180" width="180" /><p>Diseño de rutas de patrullaje de policía y tránsito.</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-03.png" alt="Inscríbete aquí" height="180" width="180" /><p>Ubicación posible de camaras de seguridad.</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-04.png" alt="Inscríbete aquí" height="180" width="180" /><p>Predecir la demanda de servicios urbanos.</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-05.png" alt="Inscríbete aquí" height="180" width="180" /><p>Diseño de métodos para calcular afluencia en eventos.</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-06.png" alt="Inscríbete aquí" height="180" width="180" /><p>Encontrar la procedencia de turistas.</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-07.png" alt="Inscríbete aquí" height="180" width="180" /><p>Predecir la demanda de servicios de salud.</p></div>
  <div class="col-md-6"></div>
</div>



