<div class="row">
    
    <div class="col-md-3">
        <p><strong>DISEÑO<br>
        CONCEPTUALIZACIÓN<br>
        COORDINACIÓN<br>
        EDICIÓN<br>
        PRODUCCIÓN</strong></p>
    </div>
    
    <div class="col-md-3">
        <p>EDITORIAL<br>
        libros<br>
        revistas</p>
        
        <p>IMPRESOS<br>
        promocionales<br>
        carteles</p>
        
                <p>DISEÑO DIGITAL</p>


    </div>
    
    <div class="col-md-3">
        <p>IDENTIDAD<br>
        imagen gráfics<br>
        imagen corporativa<br>
        logos</p>
        
        <p>BRANDING<br>
        naming<br>
        empaque</p>

    </div>
    
    <div class="col-md-3">
        <p>ESPACIO<br>
        stands<br>
        señalización<br>
        museografía</p>
        
        <p>DISEÑO EXPERIMENTAL</p>
        <p>tcgreat</p>



    </div>

</div>